* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    color: #ffffff;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerContainer{
    margin: 1rem;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
