* {
    margin: 0;
    padding: 0;
    background-color: transparent;
}

@font-face{ 
    font-family: 'KiwiSoda';
    src: url('../assets/KiwiSoda.ttf') format('truetype')
    }


body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url('../assets/melon-cream-soda.png');
    background-position: center;
    background-size: 95% 105%;
}

.titleContainer p {
    font-family: 'KiwiSoda';
    font-size: 4rem;
    font-weight: 800;
    color: #f7fcec;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.651);
}

.slogan {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    margin-top: -0.5rem;
    color: #b83142;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    align-items: center;
    justify-items: center;
}

input[type="text"], input[type="email"] {
    text-align: center;
    border-radius: 5px;
    padding: 0.2rem 0.3rem;
    font-size: 1.2rem;
    background-color: #dff7de;
    border: none;
    color: #596168;
}

input[type="text"], input[type="password"] {
    text-align: center;
    border-radius: 5px;
    padding: 0.2rem 0.3rem;
    font-size: 1.2rem;
    background-color: #dff7de;
    border: none;
    color: #596168;
}

button[type=submit] {
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    font-size: 1rem;
    border: none;
    background-color: #9e464e;
    color: #f9fdf0;
}

html {
    height: 100%;
    background-color: #cacaca;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255, 255, 255, 0.2) 35px, rgba(255, 255, 255, 0.2) 70px), repeating-linear-gradient(-45deg, transparent, transparent 35px, rgba(255,255,255,0.4) 35px, rgba(255,255,255,0.4) 70px);
    background-attachment: fixed;
  }
  