* {
    margin: 0;
    padding: 0;
    background-color: transparent;
    overflow: hidden;
}

@font-face{ 
    font-family: 'MADECarvingSoft';
    src: url('../assets/Fonts/MADECarvingSoft.ttf') format('truetype');
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url('../assets/fruitful_grapes.png'), linear-gradient(#d82d66b6 5%, #d82d663a 40%, #ffffff 80%);
    background-position: center;
    background-size: 177%;
    margin-bottom: 1rem;
}

.titleContainer p {
    font-family: 'MADECarvingSoft';
    text-align: center;
    font-size: 4.5rem;
    font-weight: 800;
    color: #ffffff;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.651);
}

.slogan {
    display: flex;
    justify-content: center;
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    margin-top: -0.9rem;
    color: #ffffff;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.651);
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    align-items: center;
    justify-items: center;
}


input[type="text"], input[type="password"],
input[type="text"], input[type="email"],
button[type=submit]
{
    text-align: center;
    border-radius: 10px;
    padding: 0.3rem 1.4rem;
    font-weight: 600;
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.651);
    background-color: #ffffff;
    border: none;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.651);
}

input:focus {
    outline: none;
}

button[type=submit] {
    border-radius: 5px;
    margin-top: 0.3rem;
    padding: 0.2rem 1.2rem;
    font-size: 0.8rem;
}

.createAccount {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
    color: #ffffff;
    font-size: 0.9rem;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.651);
}


  