* {
    margin: 0;
    padding: 0;
    background-color: #ecf0e6;
}

@font-face{ 
    font-family: 'KiwiSoda';
    src: url('../assets/KiwiSoda.ttf') format('truetype')
    }

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

img {
    width: 70%; 
}

.sodaImage {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
}

.titleContainer p {
    font-family: 'KiwiSoda';
    font-size: 3rem;
}