.piechart {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    border: 5px solid #ffffff;
    background-color: transparent;
}

.piechartContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: transparent;
  }