* {
  color: #292929;
  background-color: #f0f0f0;
  font-weight: 600;
  font-family: 'Quicksand', Arial, sans-serif; 
}

@font-face{ 
font-family: 'Quicksand';
src: url('./assets/Fonts/Quicksand-VariableFont_wght.ttf') format('truetype')
}

a {
  text-decoration: none;
}

body {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
  overflow-y: auto;
}