/* * {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url('../assets/fruitful_grapes.png'), linear-gradient(#d82d66b6 5%, #d82d663a 40%, #ffffff 80%);
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: 177%;
    margin-bottom: 1rem;
} */


/* @media(min-width: 1024px){
    body {
        background-size: 60%;
    } */
