* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}

.titleContainer p {
    padding-top: 0.95rem;
    text-align: center;
    font-size: 4rem;
    font-weight: 800;
    color: #ffffff;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.651);

}

.slogan {
    display: flex;
    justify-content: center;
    font-size: 0.9rem;
    font-weight: 600;
    padding-bottom: 0.7rem;
    color: #ffffff;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.651);
    margin-bottom: -0.1rem;
}

.login{
    padding-top: 0.5rem;
}

.login:hover a {
    color: #ff9ed6;
    font-weight: 800;
    text-shadow: none;
    transition: color 0.5s ease;
}



